body {
    background: linear-gradient(45deg, #e6e9f0, #eef1f5);
    min-width: 1200px;
}
.container {
    width: 1200px;
    margin: 0px auto ;
    padding: 0px 15px;
}
.interface {
    width: 700px;
}
.logo {
    width: 200px;
    height: 200px;
    
    position: relative;
    left: 40px;
    top: -55px;
}
.container_one {
    background-image: url(img/fone.gif);
    background-position: 100% 100%;
    height: 120px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border: solid 1.5px rgba(0, 0, 0, 0);
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}
p {
    padding: 0;
    display: flex;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    

}
.one_text {
    display: block;
    font-size: 30px;
    position: relative;
    right: 130px;
    color: white;
    text-transform: uppercase;
    animation: flicker 1.6s infinite alternate;
    

}
.two_text {
    display: block;
    font-size: 30px;
    position: relative;
    right: 30px;
    color: white;
    text-transform: uppercase;
    animation: flicker 1.7s infinite alternate;
}
.three_text {
    display: block;
    font-size: 30px;
    position: relative;
    left: 90px;
    color: white;
    text-transform: uppercase;
    animation: flicker 1.8s infinite alternate;
    
}
@keyframes flicker {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
        text-shadow:
        0 0 4px rgb(14, 48, 161),
        0 0 11px rgb(14, 48, 161),
        0 0 19px rgb(14, 48, 161);
        
    
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
}
h3 {

    height: 50px;
    background-color: rgb(216, 216, 216);
    text-align: center;
    padding: 0 auto;
    position: relative;
    top: -10px;
    border: solid 1.5px rgba(0, 0, 0, 0);
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
}
.data {
    font-size: 40px;
    font-family: 'Cuprum', sans-serif;
}
.num_one {
    position: relative;
    top: 25px;
    left: 5px;
    color: red;
    font-size: 30px;
    font-family: 'Cuprum', sans-serif;
}
.two_num {
    position: relative;
    top: 4px;
    left: 5px;
    color: red;
    font-size: 30px;
    font-family: 'Cuprum', sans-serif;
}
.email {
    position: relative;
    left: 225px;
    top: -105px;
    font-family: 'Cuprum', sans-serif;
    font-size: 40px;
}
.adress_one {
    position: relative;
    left: 225px;
    top: -113px;
    color: red;
    font-family: 'Cuprum', sans-serif;
    font-size: 30px;
}
.adress_two {
    position: relative;
    left: 225px;
    top: -111px;
    color: red;
    font-family: 'Cuprum', sans-serif;
    font-size: 30px;
}
.social {
    position: relative;
    left: 550px;
    top: -220px;
    font-family: 'Cuprum', sans-serif;
    font-size: 40px;
}
.inst {
    content: "";
    background-image: url(img/insta.png);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    position: relative;
    left: 575px;
    top: -258px;
    font-family: 'Cuprum', sans-serif;
    color: red;
    font-size: 30px;
}
.face {
    position: relative;
    left: 455px;
    top: -225px;
    font-family: 'Cuprum', sans-serif;
    color: red;
    font-size: 30px;
}
.insta {
    position: relative;
    top: -245px;
    left: 295px;
    width: 60px;
    height: 40px;
}
.faces {
    position: relative;
    top: -205px;
    left: 230px;
    width: 60px;
    height: 60px;
}
