* {
    box-sizing: border-box;
 }
 body {
    background: linear-gradient(45deg, #e6e9f0, #eef1f5);
    min-width: 1200px;
 }
 .container {
    width: 1200px;
    margin: 0px auto ;
    padding: 0px 15px;
}
.icon {
    width: 250px;
    height: 250px;
}
.logo {
    width: 250px;
    height: 250px;
    margin: 0;
    padding: 0;
    position: relative;
    top: -75px;

}
 .transparent {
    position: relative;
    max-width: 400px;
    padding: 80px 80px;
    margin: 5px auto 0;
    top: -150px;
    background: linear-gradient(45deg, #00c6fb, #005bea);
    background-size: cover;
}
.transparent:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, #00c6fb, #005bea);
    -webkit-box-shadow: 5px -1px 21px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 5px -1px 21px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 5px -1px 21px 0px rgba(34, 60, 80, 0.2);
 }
 .form-inner {
    position: relative;
 }
 .form-inner h3 {
    position: relative;
    margin-top: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 26px;
    text-transform: uppercase;
 }
 .form-inner h3:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    height: 2px;
    width: 60px;
    background: #1786ee;
 }
 .form-inner label {
    display: block;
    padding-left: 15px;
    font-family: 'Roboto', sans-serif;
    color: rgba(255, 255, 255, .6);
    text-transform: uppercase;
    font-size: 14px;
 }
 .form-inner input {
    display: block;
    width: 100%;
    padding: 0 15px;
    margin: 10px 0 15px;
    border-width: 0;
    line-height: 40px;
    border-radius: 20px;
    color: white;
    background: rgba(255, 255, 255, .2);
    font-family: 'Roboto', sans-serif;
 }
 .form-inner input[type="checkbox"] {
    position: absolute;
    opacity: 0;
 }
 #custom-checkbox+label {
    position: relative;
    margin: 20px 0;
    text-transform: none;
    cursor: pointer;
 }
 #custom-checkbox+label:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: text-top;
    background: white;
 }
 #custom-checkbox:checked+label:before {
    background: #eea317;
 }
 #custom-checkbox:checked+label:after {
    content: "";
    position: absolute;
    width: 2px;
    height: 2px;
    left: 20px;
    top: 9px;
    background: white;
    box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
    transform: rotate(45deg);
 }
 .form-inner input[type="submit"] {
     cursor: pointer;
    background: white;
    color: rgb(33, 134, 216);
 }
 a {
     font-size: 15px;
     color: white;
 }